.profile-img {
  position: absolute;
  width: 78px; /* Adjust as needed */
  height: auto;
  padding-left: 15px;
  padding-top: 10px;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
  width: 122px;
  height: 122px;
  flex-shrink: 0;
  padding-left: 67px;
  padding-top: 49px;
}

.clouds {
  position: absolute;
  display: inline-block;
  transition: transform 150ms ease-in-out;
  width: 1032px;
  padding-top: 200px;
  padding-left: 250px;
  z-index: -1;
}

.img-overlay-wrap svg {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap img {
  padding-left: 75px;
  padding-top: 55px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 60px;
}

.name {
  color: #465fc8;
  font-family: "Andika";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 71px;
  padding-top: 125px;
}

.sub {
  color: #5a6695;
  font-family: "Andika";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 71px; /* Adjusted padding-left */
}

.fallen {
  display: inline-block;
  padding-left: 350px;
}
